<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StockNex</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/InicioApp_Style.css') }}">
    </head>
    <body>
        <header>
            <div class="container-hero">
                <div class="container hero">
                    <div class="customer-support">
                        <i class="fa-solid fa-phone"></i>
                        <div class="content-customer-support">
                            <span class="text">Contact</span>
                            <span class="number">123-456-7890</span>
                        </div>
                    </div>
                    <div class="conmtainer-logo">
                        <i class="fa-solid fa-hammer"></i> <h1 class="logo"><a href="/">StockNex</a></h1> <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <a href="/login" class="conmtainer-user" >
                        <i class="fa-solid fa-user"></i>
                        </div>
                    </a>
                </div>
            </div>
        

        </header>

        <section class="banner">
            <div class="content-banner">
                <p>Gestionamiento de Inventario, Comunicación y +</p>
                <h2>Bienvenidos a <i class="fa-solid fa-layer-group"></i> StockNex <i class="fa-solid fa-gears"></i> </h2>
            </div>
        </section>
        
        <div class="wrapper">
            <div class="slider-frame">
                <ul>
                    <li><img src="/static/img/1.jpeg" alt="imagen1"></li>
                    <li><img src="/static/img/2.jpeg" alt="imagen2"></li>
                    <li><img src="/static/img/3.jpeg" alt="imagen3"></li>
                </ul>
            </div>
            <div class="text-box">
                <h2> ¿Quiénes Somos? </h2>
                <i class="fa-solid fa-business-time"></i> <p> Somos una innovadora plataforma de comercio electrónico diseñada específicamente para ferreterías, comprometidos en ofrecer soluciones integrales que revolucionen la forma en que estas empresas gestionan sus operaciones. Desde la gestión de inventario hasta la entrega de productos, nuestra misión es proporcionar una experiencia sin igual tanto para clientes como para comerciantes. Con tecnología avanzada y herramientas intuitivas, estamos aquí para impulsar el éxito de las ferreterías en el mundo digital, optimizando procesos y elevando la satisfacción del cliente a nuevas alturas. ¡Bienvenido a la era de las ferreterías conectadas!</p>
            </div>
        </div>


        <script src="https://kit.fontawesome.com/634fa283a3.js" crossorigin="anonymous"></script>
            
    </body>
</html>